@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOLID Web App</h1>
    <p class="lead">
        Demo of real-world code implementing Object Oriented Design principles, Gang of Four Design Patterns and concepts of SOLID and GRASP
        which helps to avoid a bad software design and create one which is flexible, modular, easy to modify, reuse, extend, scale, port, test and maintain.
        SOLID Web App presents sample solutions for particular design problems and their implementation in C#.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Object Oriented Design</h2>
        <p>
            follows 4 major principles built into every object-oriented language: Encapsulation, Abstraction, Inheritance, Polymorphism.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Design Patterns</h2>
        <p>
            are solutions to software design problems repeatable found in application development. The most popular 23 Gang of Four patterns are grouped in three categories: Creational, Structural and Behavioural.
            Abstract Factory, Builder, Factory Method, Prototype, Singleton, Adapter, Bridge, Composite, Decorator, Facade, Flyweight, Proxy, Chain of Responsibility, Command, Interpreter, Iterator, Mediator, Memento, Observer, State, Strategy, Template Method, Visitor.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SOLID</h2>
        <p>
            architecture provides five basic principles which are necessary to follow to build sound systems: <b>S</b>ingle Responsibility, <b>O</b>pen Closed, <b>L</b>iskov Substitution, <b>I</b>nterface Segregation, <b>D</b>ependency Inversion.
        </p>
    </div>
    <div class="col-md-4">
        <h2>GRASP</h2>
        <p>
            <b>G</b>eneral <b>R</b>esponsibility <b>A</b>ssignment Software <b>P</b>atterns consist of number of patterns regarded as basic in almost every software project: Controller, Creator, Indirection, Information Expert, High Cohesion, Low Coupling, Polymorphism, Protected Variations, Pure Fabrications.
        </p>
    </div>
</div>